@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.conatainer {
  width: 1140px;
  margin: 0 auto;
}

#header {
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 15px 0;
  backdrop-filter: blur(15px);
}
#header .header--general {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header .header--general__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#header .header--general__logo h1 {
  font-family: "New Tegomin", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
#header .header--general__nav a {
  padding: 0 25px;
  font-family: "New Tegomin", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
#header .header--general__select select {
  width: 40px;
  height: 25px;
  background: transparent;
  cursor: pointer;
  font-size: 15px;
  border: none;
  outline: none;
  color: white;
}
#header .header--general__select select option {
  background: rgb(0, 0, 0);
}

#hero {
  background: url("../img/fon.png") no-repeat center/cover;
  min-height: 100vh;
}
#hero .hero--general {
  width: 100%;
  min-height: 100vh;
  background: rgba(196, 196, 196, 0.1);
  backdrop-filter: blur(5px);
  clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 100%, 76% 64%, 17% 100%, 0 100%, 0% 30%);
  top: 0;
  left: 0;
  position: absolute;
}
#hero .hero--general__text {
  padding-top: 175px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#hero .hero--general__nav h1 {
  width: 638px;
  height: 170px;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #FFFFFF;
}
#hero .hero--general__nav p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
  margin-bottom: 60px;
}
#hero .hero--general__nav button {
  width: 222px;
  height: 48px;
  background: #FD8415;
  border-radius: 15px;
  font-family: "Playfair Display", sans-serif;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  transition: 0.4s;
}
#hero .hero--general__nav button:hover {
  transform: scale(1.1);
  background: rgb(0, 0, 0);
  color: aqua;
}
#hero .hero--general__icon {
  padding-left: 130px;
}
#hero .hero--general__icon div {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #F8F8F8;
}
#hero .hero--general__icon div .lin {
  margin-top: 50px;
  border: 2px solid #FD8415;
}
#hero .hero--general__icon div div {
  padding: 20px 0;
}

#about {
  padding: 40px 0;
  background: url("../img/fon-two.png") no-repeat center/cover;
  min-height: 100vh;
  width: 100%;
  height: 2063px;
}
#about .about--general__text {
  font-family: "Playfair Display", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: #FFFFFF;
}
#about .about--general__nav {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#about .about--general .nav-two p {
  width: 442px;
  height: 99px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  color: #FFFFFF;
  margin-bottom: 75px;
}
#about .about--general .nav-two h1 {
  width: 494px;
  height: 278px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  color: #FFFFFF;
}
#about .about--general .nav-two button {
  border: none;
  cursor: pointer;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  width: 157px;
  height: 48px;
  background: #FD8415;
  border-radius: 15px;
  transition: 0.4s;
}
#about .about--general .nav-two button:hover {
  transform: scale(1.1);
  background: aqua;
  color: black;
}
#about .about--general__footer {
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#about .about--general__footer .blok {
  width: 463px;
  height: 520px;
  border: 2px solid #FD8415;
  border-radius: 15px;
}
#about .about--general__footer .blok div {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#about .about--general__footer .blok h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
#about .about--general__footer .blok p {
  width: 295px;
  height: 57.65px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #FFFFFF;
}

#gallery {
  background: url("../img/TOO2.png") no-repeat center/cover;
  width: 100%;
  height: 1511px;
  padding: 30px 0;
}
#gallery .gellery--general__text {
  font-family: "Playfair Display", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  color: #FFFFFF;
}

#revi {
  background: url("../img/fon-three.png") no-repeat center/cover;
  width: 100%;
  height: 870px;
}
#revi .revi--general .revi--general__block {
  width: 463px;
  height: 520px;
  border: 2px solid #FD8415;
  border-radius: 15px;
}
#revi .revi--general .revi--general__block .block-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#revi .revi--general .revi--general__block .block-img div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
